<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add order</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>
	<div id="add-order-form">
		<h1>Add order</h1>
		<form th:object="${order}" th:action="@{/saveorder}" action="#" method="post">

			<div>
				<label for="orderDate">Order date: </label>
				<input type="date" id="orderDate" th:field="*{orderDate}">
			</div>
			<div>
				<label for="deliveryDate">Delivery date: </label>
				<input type="date" id="deliveryDate" th:field="*{deliveryDate}">
			</div>
			<div>
				<label for="paymentMethod">Payment method: </label>
				<select id="paymentMethod" th:field="*{paymentMethod}">
					<option value="debit">Debit</option>
					<option value="credit">Credit</option>
					<option value="cash">Cash</option>
				</select>
			</div>
			
			<div>
				<label>Items: </label>
				<div th:each="product : ${products}">
					<input type="checkbox" th:id="'product_' + ${product.productId}" th:name="'items'" th:value="${product.productId}" />
					<label th:for="'product_' + ${product.productId}" th:text="${product.name}"></label><br/>
				</div>
			</div>

			<div>
				<label for="accounts">Account: </label>
				<select id="accounts" th:field="*{account}">
					<option th:each="account : ${accounts}" th:value="${account.accountId}"
						th:text="${account.firstName}"></option>
				</select>
			</div>

			<div>
				<input type="submit" value="Save" class="btn btn-success"></input>
				<a style="text-shadow: none;" href="/orderpage" class="btn btn-danger">Cancel</a>
			</div>
		</form>
		<br>
		<p>Hold "Shift" to select multiple items</p>
	</div>
</body>

</html>