<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add product</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<style>
		#product-form {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-left: 10px;
			background-color: beige;
			width: 400px;
			margin: 200px auto;
			color: black;
			padding: 30px;
			border-radius: 30px;
		}
		
	</style>
</head>

<body>
	<div id="product-form">
		<h1>Add product</h1>
		<form  th:object="${product}" th:action="@{saveproduct}" action="#" method="post">
			<div>
				<label for="brand">Brand: </label>
				<input type="text" id="brand" th:field="*{brand}">
			</div>
			<div>
				<label for="model">Model: </label>
				<input type="text" id="model" th:field="*{model}">
			</div>
			<div>
				<label for="name">Name: </label>
				<input type="text" id="name" th:field="*{name}">
			</div>
			<div>
				<label for="color">Color: </label>
				<input type="text" id="color" th:field="*{color}">
			</div>
			<div>
				<label for="description">Description: </label>
				<input type="text" id="description" th:field="*{description}">
			</div>
			<div>
				<label for="manifacturingYear">Manifacturing year: </label>
				<input type="text" id="manifacturingYear" th:field="*{manifacturingYear}">
			</div>
			<div>
				<label for="price">Price: </label>
				<input type="text" id="price" th:field="*{price}">
			</div>
			<div>
				<label for="categorylist"> Category: </label>
				<select id="categorylist" th:field="*{category}">
					<option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}">
					</option>


				</select>
			</div>
			<div>
				<input type="submit" value="Save" class="btn btn-primary"></input>
				<a href="/productlist" class="btn btn-danger">Cancel</a>
			</div>
		</form>

	</div>
</body>

</html>