<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Categories</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>
    <div id="categorylist">
        <h1>Categories</h1>

        <table id="categorytable" class="table table-bordered">
            <tr>
                <th>Category</th>
            </tr>

            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryName}">Category</td>
            </tr>

        </table>
        <div>
            <a href="/addcategory" class="btn btn-primary">Add Category</a>
            <a href="/productlist" class="btn btn-danger">Back to Products</a>
        </div>
    </div>

</body>

</html>