<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Place an order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>
    <div id="order-form">
        <h1>Place an order</h1>
        <form th:object="${order}" th:action="@{/saveorder}" action="#" method="post" target="_blank">

            <div>
                <label for="paymentMethod">Payment method: </label>
                <select id="paymentMethod" th:field="*{paymentMethod}">
                    <option value="debit">Debit</option>
                    <option value="credit">Credit</option>
                    <option value="cash">Cash</option>
                </select>
            </div>

            <div>
                <label>Items: </label>
                <div style="text-shadow: none;" th:each="product : ${products}">
                    <input type="checkbox" th:id="'product_' + ${product.productId}" th:name="items"
                        th:value="${product.productId}" />
                    <label th:for="'product_' + ${product.productId}" th:text="${product.name}"></label><br />
                </div>
            </div>

            <div>
                <label for="account">Username: </label>
                <input type="text" id="account" th:field="*{account.username}" readonly="readonly" />
                <input type="hidden" th:field="*{account}">
            </div>

            <div>
                <input onclick="window.location.href = 'orderconfirmation'" type="submit" value="Place an order" class="btn btn-success"></input>
                <a style="text-shadow: none;" href="/productlist" class="btn btn-danger">Cancel</a>
            </div>
        </form>

    </div>
</body>

</html>