<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Order confirmation</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{css/styles.css}" />

    <style>
        #confirm-text {
            border: 5px solid;
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

        }
    </style>
</head>

<body>

    <!-- your order items: -->
    <!-- your order has been received and will be delivered on : ${deliverydate} -->
    <div id="confirm-text">
        <h1>Thank you for your order! <br>
            Receipt and confirmation has been sent to your email.</h1>
            <a class="btn btn-primary" href="/productlist">Back to products</a>
    </div>
    
</body>

</html>