<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link type="text/css" rel="stylesheet" href="/css/styles.css" th:href="@{css/styles.css}" />
</head>

<body>
    <h1>Orders</h1>
    <a style="margin-bottom: 5px; margin-left: 2px;" href="/productlist" class="btn btn-danger">Back to products</a>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>Order ID</th>
                <th>Order details</th>
                <th>Products</th>
            </tr>

            <tr th:each="order : ${orders}">
                <td th:text="${order.orderId}"></td>
                <td>
                    <table style="text-align: center;">
                        <tr>
                            <th>Customer Id</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                            <th>Phone</th>
                        </tr>
                        <tr th:each="account : ${order.account}">
                            <td th:text="${account.accountId}"></td>
                            <td th:text="${account.firstName}"></td>
                            <td th:text="${account.lastName}"></td>
                            <td th:text="${account.email}"></td>
                            <td th:text="${account.phone}"></td>

                        </tr>
                    </table>
                </td>
                <td>
                    <table style="text-align: center;">
                        <tr>
                            <th>Product brand</th>
                            <th>Product model</th>
                            <th>Product price</th>
                            <th>Product name</th>
                            <th>Product description</th>
                            <th>Product color</th>
                            <th>Product manufacturing year</th>
                            <th>Product category</th>
                        </tr>
                        <tr th:each="product : ${order.items}">

                            <td th:text="${product.brand}"></td>
                            <td th:text="${product.model}"></td>
                            <td th:text="${product.price}"></td>
                            <td th:text="${product.name}"></td>
                            <td th:text="${product.description}"></td>
                            <td th:text="${product.color}"></td>
                            <td th:text="${product.manufacturingYear}"></td>
                            <td th:text="${product.category.name}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>


</body>

</html>